.article__title {
  color: var(--COLORS-BLACK, #151515);
  font-family: "TT Backwards Sans Trial";
  font-size: 37px;
  font-style: normal;
  font-weight: 900;
  line-height: 90.688%;
  letter-spacing: -1.85px;
}

.article__out {
  color: var(--COLORS-BLACK, #151515);
  font-family: "TT Backwards Sans Trial";
  font-size: 37px;
  font-style: normal;
  font-weight: 265;
  line-height: 90.688%;
  letter-spacing: -1.85px;
}
.article_image img {
  margin-top: 58.36px;
}

.article__info {
  padding-top: 58.36px;
}

h4 {
  color: var(--COLORS-BLACK, #151515);
  font-family: "TT Backwards Sans Trial";
  font-size: 23.836px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -1.192px;
}

.article__date p {
  color: var(--COLORS-BLACK, #151515);
  font-family: Coolvetica;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 28px;
}

.article__writer p {
  color: var(--COLORS-BLACK, #151515);
  font-family: Coolvetica;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 28px;
}

.article__collection {
  color: var(--COLORS-BLACK, #151515);
  font-family: Coolvetica;
  font-size: 16px;
  font-weight: 300;
}

.article__description {
  color: var(--COLORS-BLACK, #151515);
  font-family: Coolvetica;
  font-size: 16px;
  font-weight: 400;
  align-self: stretch;
  margin-bottom: 28px;
}

.article__tobuy {
  color: var(--COLORS-BLACK, #151515);
  font-family: "TT Backwards Sans Trial";
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -1.192px;
  margin-bottom: 18px;
}

.article__buttons {
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 60px;
}

.article__buttons button {
  display: flex;
  width: 197px;
  height: 44px;
  padding: 15.28px 39px;
  justify-content: center;
  align-items: center;
  gap: 15.28px;
  border-radius: 22.92px;
  border: 3.82px solid var(--COLORS-BLACK, #151515);
  background: var(--COLORS-YELLOW, #fbf540);
  color: var(--COLORS-BLACK, #151515);
  text-align: center;
  font-family: "TT Backwards Sans Trial";
  font-size: 18px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.9px;
  white-space: nowrap;
}
