.content_image_one {
  position: relative;
}

.content_image_two {
  position: relative;
  transform: translateY(-69px);
}

.content_image_three {
  position: relative;
  transform: translateY(173px);
}

.content_image_four {
  position: relative;
  transform: translateY(133px);
}

.content_image_five {
  position: relative;
  transform: translateY(115px);
}

.content_image_six {
  position: relative;
  transform: translateY(80px);
}

.content_image_seven {
  position: relative;
  transform: translateY(70px);
}

.content_image_eight {
  position: relative;
  z-index: 2;
}
.content_image_nine {
  position: relative;
  transform: translateY(-50px);
}

.content_image_ten {
  position: relative;
  transform: translateY(-37px);
}

.content_image_eleven {
  position: relative;
  transform: translateY(-37px);
}

.content_image_twelve {
  position: relative;
  transform: translateY(-20px);
}

.content_image_thirteen {
  position: relative;
  transform: translateY(-230px);
}
