.header {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/header.svg");
  background-size: cover;
}

.header__title {
  color: var(--COLORS-WHITE, #fff);
  padding-top: 253px;
  text-align: center;
  font-family: "TT Backwards Sans Trial";
  font-size: 144.56px;
  font-weight: 900;
  line-height: 90.688%;
  letter-spacing: -7.228px;
}

.header__button {
  display: flex;
  width: 196px;
  padding: 15.28px 39px 15.28px 39px;
  justify-content: center;
  align-items: center;
  border-radius: 22.92px;
  border: 3.82px solid var(--COLORS-BLACK, #151515);
  background: var(--COLORS-YELLOW, #fbf540);
  margin-left: auto;
  margin-right: auto;

  transition: transform 0.25s cubic-bezier(0.2, 0.9, 0.3, 1), filter 0.25s ease,
    box-shadow 0.25s ease;
  transform-origin: center;
  will-change: transform, filter;
}

.header__button:hover,
.header__button:focus {
  transform: scale(1.04);
  filter: brightness(0.9);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
  outline: none;
}

.header__button:active {
  transform: scale(0.995);
  filter: brightness(0.85);
}

.header__button p {
  color: var(--COLORS-BLACK, #151515);
  font-family: "TT Backwards Sans Trial";
  font-size: 23.836px;
  font-weight: 900;
  letter-spacing: -1.192px;
  width: 126px;
  height: 25px;
  text-align: center;
  white-space: nowrap;
}

.header__elements {
  display: flex;
  justify-content: center;
}
