.section__first {
  display: flex;
  justify-content: center;
  transform: translateY(318px);
  margin-bottom: 700px;
}

.section__first--left {
  transform: translateX(-22.67px);
  transform: translateY(-169px);
}

.section__first--right {
  transform: translateX(20px);
  transform: translateY(300px);
}

.section__second {
  display: flex;
  justify-content: center;
  margin-top: (486px);
}

.section__third {
  color: var(--COLORS-BLACK, #151515);
  text-align: center;
  font-family: Bangers;
  font-size: 36px;
  margin-top: (512px);
}
