* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
// @keyframes cursor-bounce {
//   0%,
//   100% {
//     transform: translateY(0);
//   }
//   50% {
//     transform: translateY(8px);
//   }
// }
body {
  background: var(--COLORS-LIGHTBLUE, #afdaf8);
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="black" d="M12 22L2 12h8V2h4v10h8z"/></svg>')
      12 12,
    auto;
  animation: cursor-bounce 4.5s ease-in-out infinite;
}
