@font-face {
  font-family: "TT Backwards Sans Trial";
  src: url("../fonts/backwards-thin.woff2") format("woff2"),
    url("../fonts/backwards-thin.woff") format("woff");
  font-weight: 265;
}

@font-face {
  font-family: "TT Backwards Sans Trial";
  src: url("../fonts/backwards-title.woff2") format("woff2"),
    url("../fonts/backwards-title.woff") format("woff");
  font-weight: 900;
}
